.product.home.overlay, .dash-default.overlay {
    .quad1,.quad2,.quad3,.quad4 {
       //filter:blur(2px);  opacity:.2;
    }
}

// hides all the content in the background
.dash-default {
    @extend .abs-screen;
    z-index:3;
}

.nav-container {
    .quad{
        opacity:.2;

        .sub-items{
            display: block;

        }
    }
}

.quad.selected{
    opacity:1;

    .sub-items{
        opacity:1;
    }
}

.blaze {
    clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.flicker {
    -webkit-animation: refresh .35s ease-in !important;
    -moz-animation: refresh .35s ease-in !important;
    -o-animation: refresh .35s ease-in !important;
    animation: refresh .35s ease-in !important;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes refresh {
    0%   {-webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);background-color:#ddd;color:#ddd}
    50%  {-webkit-clip-path:polygon(0 0, 0 0, 0 100%, 0 100%);background-color:#ddd;color:#ddd}
    85%  {background-color:transparent; color:#9d9d9d;}
    100% {-webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);background-color:transparent}
}

/* Standard syntax */
@keyframes refresh {
    0%   {clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);background-color:#ddd;color:#ddd}
    50%  {clip-path:polygon(0 0, 0 0, 0 100%, 0 100%);background-color:#ddd;color:#ddd}
    85%  {background-color:transparent;color:#9d9d9d;}
    100% {clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);background-color:transparent}
}

.product.home {
    background-size:cover;
    height: 100%;
    width: 100%;
    position: fixed;

    .quad3 {
        .content {
            .inner-content {

                .dash-helper.left {
                    left:9%;
                    top:30%
                }

                .dash-helper {
                    position:fixed;
                    width: 20%;
                    z-index:1;
                }

                .dash-desc{
                    text-transform:uppercase;
                    z-index:1;

                    .row {
                        padding:0 !important;
                        margin:0 !important;

                        div[class*="col-"] {
                            padding: 2px 0;

                            p.heavy {
                                background-color:$main;
                                color:#fff;
                            }

                            p {
                                padding: 0 3px;
                            }
                        }
                    }

                    .summary-container {
                        position:relative;

                        .summary-serial,.summary-gauge {
                            clip-path:polygon(0 100%, 0 100%, 0 100%, 0 100%);
                            -webkit-clip-path:polygon(0 100%, 0 100%, 0 100%, 0 100%);
                            position:absolute;
                            top:15px;
                            left:0;
                            width:100%;
                            background-color:#fff;
                            @include trans-ease(.35s);
                            border-bottom: solid 3px #ddd;

                            h3 {
                                display: inline-block;
                                @include trans-ease(.85s);
                                clip-path:polygon(0 0, 0 0, 0 100%, 0 100%);
                                -webkit-clip-path:polygon(0 0, 0 0, 0 100%, 0 100%);
                            }
                        }

                        .summary-serial{
                            clip-path:polygon(0 0, 0 0, 100% 0, 100% 0);
                            -webkit-clip-path:polygon(100% 0, 100% 0, 100% 0, 100% 0);
                        }

                        .summary-serial.summary-uncollapse {
                            clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
                            -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);

                            h3 {
                                @extend .blaze;
                            }
                        }

                        .summary-gauge.summary-uncollapse {
                            clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
                            -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);

                            h3 {
                                @extend .blaze;
                            }
                        }
                    }

                    p {
                        font-size:.7em;
                        margin:0;
                    }
                }

                .engagements-container.top{
                    top:15%;
                }

                .engagements-container {
                    @include trans-ease(.5s);
                    z-index: 9;
                    position: fixed;
                    top: 28%;
                    right: 0;
                    width: 35%;
                    text-align: center;
                    left: 0;
                    margin-left: auto;
                    margin-right: auto;

                    .lengthen {
                        min-height:125px;

                        .summary-container {
                            height:initial;
                        }
                    }

                    .chart-channels {
                        position:relative;
                        display:block;
                    }

                    h5 {
                        display:inline-block;
                        vertical-align: bottom;
                    }

                    // HOVER EFFECT ON ICONS FOR BOTTOM DASHBOARD
                    .popover {
                        .popover-title {
                            color: #fff;
                            font-family:$typekit;
                        }
                        .popover-content {
                            color: #fff;
                            font-family:$typekit;
                        }
                    }
                }

                .dash-bottom {
                    bottom:0;
                    position:fixed;
                    left:0;
                    right:0;
                    margin-left:auto;
                    margin-right:auto;
                    width: 100%;
                    height:50%;
                    opacity:1;
                    @include trans-ease(.5s);
                    z-index:1
                }
            }
        }
    }

    // CONTENT FOR RIGHT PYRAMID
    .quad2 > .content > .inner-content {
        text-align:right;
        padding: 8% 15%;
    }

    // CONTENT FOR LEFT PYRAMID
    .quad4 > .content > .inner-content {
        text-align:left;
        padding: 13% 15%;
    }
}

.inner-content {
    @extend .abs-container;
    @include trans-ease(.4s);
}

// TOP TRIANGLE DASHBOARD
.score-container {
    width: 250px;
    height: 250px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    .score-display {
        position: absolute;
        top: 10%;
        left: -5px;
        right: 0;
        width: 80% !important;
        height: 80% !important;
    }

    .score-elements {
        position: relative;
        height: inherit;
        width: inherit;
        top: -80px;

        .my-peers-title {
            font-size: 1.4em !important;
            position: absolute;
            top: 50%;
            left: -20%;
            width: 150px;
            text-align: center;
            color: $highlight1;
        }

        .my-goals-title {
            font-size: 1.4em !important;
            position: absolute;
            top: 50%;
            right: -20%;
            text-align: center;
            width: 150px;
            color: $highlight1;
        }

        .my-goals {
            position: absolute;
            top: 30%;
            right: 15%;
            text-align: right;

            @media (min-width: $screen-sm-min) {
                top: 37%;
                right: 5%;
            }

            h1 {
                font-size: 2.8em;
                color: $highlight1;
            }
        }

        .my-peers {
            position: absolute;
            top: 25%;
            left: 10%;

            @media (min-width: $screen-sm-min) {
                top: 37%;
                left: 5%;
            }

            h1 {
                font-size: 2.8em;
                color: $highlight1;
            }
        }
    }
}

table.review-panel {
    margin-top:50px;
    border:4px solid #ddd;
    width:100%;
    background-color:#fff;

    td {
        font-size:.8em;
        vertical-align:top;
        padding: 10px;
        border: 4px solid #ddd;
        text-align:center;
    }
}

table.legend-container{
    border:4px solid #ddd;
    width:100%;
    background-color:#fff;

    td {
        vertical-align:top;
        padding: 5px 0;
    }

    td:first-child{
        border-right: 4px solid #ddd;
    }

    tr:nth-child(2){
        td:first-child{
            border-top:4px solid #ddd;
        }
    }

    tr:nth-child(3){
        td {
            padding:0;
        }
    }

    .legend-details {
        h5 {
            display:block !important;
            font-size:.7em;
        }
    }
}