


// GOALS
.goals-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;

    .content-static {
        @extend .abs-screen;
        @include trans-ease(1.3s);
        z-index:1;

        .content-static-inner {
            width: 74%;
            margin-left: 23%;

            // CSS FOR INTEGRATION PORTION
            .integration-container {
                text-align:left;
                margin-top:40px;
                width:80%;

                .pulse-chart{
                    position: absolute;
                    left: 10px;
                    top: 30px;
                }

                .chart-lg {
                    z-index:1;
                }
            }
        }

        .content-static-inner.bigger{
            width: 45%;
            margin-left: 47%;
        }
    }

    .content-slide.shrink {
        background-color:rgba(0,0,0,.8);
        -webkit-clip-path: polygon(0 0, 30% 0, 25% 100%, 0 100%);
        clip-path: polygon(0 0, 30% 0, 25% 100%, 0 100%);
        position:fixed;

        .goals-content {
            width: 20%;
            height: 30%;
            left: 5%;
            right: initial;
            top:5%;

            div[class*="col-"]{
                padding-left:0;
                padding-right:0;
            }

            .create-hide{
                display:none;
            }

            .row {
                 margin-left: 0;
                 margin-right: 0;
            }

            h1 {
                font-size: 1.2em;
            }
        }
    }

    .content-slide {
        @extend .abs-screen;
        z-index:3;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); // add filter
        @include trans-ease(1.3s);

        h1, h2, h3, h4 , h5 {
            margin:0;
            opacity:1;
        }

        .goals-content{
            @extend .abs-screen;
            bottom: initial;
            background-color:transparent;

            .create-big-container {
                width:80%;
                height:80%;
                margin-top:7%;
            }
        }
    }

    .content-slide.shrink.bigger {
        -webkit-clip-path:polygon(0 0, 50% 0, 45% 100%, 0 100%);
        clip-path:polygon(0 0, 50% 0, 45% 100%, 0 100%);

        .goals-content {
            width: 42%;
            height: initial;
            left: 11%;
        }
    }
}

.product.discovery {
    .goals-content{
        .quad2, .quad4 {
            background-color:#ddd;
        }
    }

}