.cloud-container {

    .list-results-container {

        .row.list-results.first{
            margin-top:20px;
        }
    }

    .cloud-file-details {

        .cloud-file-table {

            td {
                vertical-align:top;
                font-size:.8em;
                padding:10px !important;

                .thumbnail-cloud {
                    position:relative;
                    background-color:#ddd;
                    width:80px;
                    height:60px;
                    background-size:cover;
                    background-repeat: no-repeat;
                    border-radius: 5px;
                    border:0;
                }

                h5 {
                    font-size:.6em;
                }

                p {
                    margin:0 !important;
                }
            }
        }
    }
}

.icx-schema-form.form-group{
        margin-bottom: 0px;
}

.icx-tag-item {
    position: relative;
    button.close {
        position: absolute !important;
        font-size: 2em;
        top: 9px;
        right: 6px;
    }

    input {
        padding-right: 25px;
    }

    .glyphicon-ok {
        display: none;
    }

    .clearfix {
        padding: 0px !important;
        button {
            position: absolute;
            bottom: 15px;
            left: 80%;
        }
    }

    .list-group {
        margin-bottom: 0px;
        width: 75%;
    }

    .list-group-item {
        padding: 0px;
        border: 0px;
        line-height: 0px;
    }


    .list-group-item:last-child {
        button.close{
            display: none;
        }
    }
}


.msf {
    padding:10px;

    .has-error .form-control {
        border-top: 1px solid #ccc;
        border-bottom:1px solid #ccc;
        border-left:1px solid #ccc;
        box-shadow: none;
    }

    .has-error .control-label,
    .has-error .radio,
    .has-error .checkbox,
    .has-error .radio-inline,
    .has-error .checkbox-inline,
    .has-error.radio label,
    .has-error.checkbox label,
    .has-error.radio-inline label,
    .has-error.checkbox-inline label {
        color: $subdued;
    }

    .has-success .form-control,
    .has-success .form-control:focus {
        border: 1px solid #ccc;
        box-shadow: none;
    }

    div[class*="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.distro-goals-btn {
    margin-top: 10%;
}

.meta-help{
    cursor: pointer;
    color: #00afec;
    font-weight: bolder;
}

.icx-metatext {
    display: none;
}

.meta-help:hover .icx-metatext{
    display: block;
}
