.settings-container {
	width: 75%;
	margin-top: 7%;
	margin-left: auto;
	margin-right: auto;

	.page-header {
		margin-top: 0 !important;
	}

	.settings.items {
		list-style-type: none;
		cursor: pointer;
		line-height: 20px;
		font-weight: 600;
		font-size: 1.5em;
	}
	.icon {
		margin: 5px;
		cursor:pointer;
		display: inline-block;

		.social{
			color:#A7383E;
			font-size:1.75em;
		}
	}

	.icon:hover {
		.social{
			color:#000;
		}
	}

	.icon.success {
		.social {
			color:$success;
		}
	}

	li.settingsMenu {
		margin-bottom: 10px;
	}

	.settings-radio-group {
		margin-right: 5px !important;
	}

	.gender-group {
		margin-right: 10px;
		font-weight: 400;
	}
	
	label {
		text-transform: capitalize !important;
	}
	
	label.profile-label {
		display: block;
		text-transform: uppercase !important;
		margin-top: 10px;
	}

	label.role-label {
		font-size: 1.1em;
	}
}
